<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzj.ssm.entity.Grade" >
  <resultMap id="BaseResultMap" type="com.wzj.ssm.entity.Grade" >
    <id column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="student_count" property="studentCount" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createBy" property="createby" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="updateBy" property="updateby" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="DATE" />
    <association column="school_id" property="school" resultMap="com.wzj.ssm.entity.School.BaseResultMap" />
    <association column="year_id" property="year" resultMap="com.wzj.ssm.entity.Year.BaseResultMap" />
  </resultMap>
</mapper>