<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzj.ssm.dao.modelMapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.wzj.ssm.entity.SysUser" >
    <id column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="sys_account" property="sysAccount" jdbcType="VARCHAR" />
    <result column="sys_password" property="sysPassword" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_account_non_epired" property="isAccountNonEpired" jdbcType="BIT" />
    <result column="is_account_non_locked" property="isAccountNonLocked" jdbcType="BIT" />
    <result column="is_credentials_non_expired" property="isCredentialsNonExpired" jdbcType="BIT" />
    <result column="is_enabled" property="isEnabled" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createBy" property="createby" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="updateBy" property="updateby" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="DATE" />
  </resultMap>
  
</mapper>